.nav-links {
    list-style: none;
    margin: 0;
    padding-left: 10px;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: calc(1.1em + 0.5vw);
    padding: 8px;
    box-sizing: border-box;
    transition: font-size 0.3s ease;
    white-space: nowrap;
  }
  
  .nav-links a:hover {
    background-color: #05518b;
    border-radius: 4em;
    transition: background-color 0.3s ease;
  }
  
  /* Hamburger menu links for mobile */
  @media (max-width: 979px) {
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #0766AD;
      width: 100%;
      padding: 10px;
      z-index: 9;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .nav-links li {
      margin-left: 0;
      margin-top: 10px;
      width: 100%;
    }
  
    .nav-links a {
      width: 100%;
      text-align: left;
      padding-left: 20px;
    }
  }

  .small-search-input:focus {
    outline: none;
    border: 2px solid #29ADB2;
    color: #0766AD;
  }

  .small-search-input{
    font-family: "Klavika-Medium";
  }
  
  /* Small search form in the hamburger menu */
  @media (max-width: 574px) {
    .small-search-form {
      display: flex;
      width: 100%;
      margin-bottom: 10px;
    }
  
    .small-search-input {
      flex-grow: 1;
      padding: 8px;
      border-radius: 3em;
      border: none;
      font-size: 0.9em;
    }
  
    .small-search-button {
      background-color: #05518b;
      border: none;
      color: white;
      border-radius: 3em;
      padding: 8px 12px;
      cursor: pointer;
    }
  }
  